# IDE Dependent file
.settings/
.project
.classpath

# OS specific file
.DS_Store

# Build folder and log file
build
build.log
libs
bin
Resources
npm-debug.log
tmp
.map

# Documentation & Example
**/documentation/
**/example

